*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



body{
    
    background: linear-gradient(45deg, #79a7d3, #6883bc, #8a307f);
}

header{
    display: flex;
    align-items: center;
    background-color: #181f1f;
    padding: 15px 30px;
}

h1{
    color: white;
    font-size: 50px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 40px;
}



nav a{
    display: flex;
    color: black;
    margin-left: 30px;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    
}

.button{
  color: #fff;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.button:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #fc253e, #c0b7ca);
}

.button a {
    text-decoration: none;
}

#landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    gap: 40px;
}


/* section information */

#information{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

article{
    background-color: white;
    height: 20%;
    width: 40%;
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}


p{
  font-size: 20px;
  
}



/* section contact */

section#contact {
      background: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 600px;
      margin: 80px auto; 
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }


    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    label {
      font-weight: bold;
    }

    input, textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 90%;
    }

    button {
      padding: 12px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: linear-gradient(135deg, #fc253e, #c0b7ca);
    }


footer {
  height: 20vh;
  text-align: center;
  padding: 20px;
  background-color: #181f1f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

